.Building.View {	
    bottom	: 0px;
    left	: 0px;
    right	: 0px;

	padding-left : 10px;
	padding-right : 10px;
}

.Building.View .Page.One {
	text-align 	: left;
    width		: 100%;
	display 	: table;
}

.Building.View .Page.One.NoData {
	text-align: center;
    position: relative;
    top: 10px;
}

.Building.View .Title {
	text-align : center;
	margin: 20px 10px 30px 10px;
}

.Building.View .Page.One .Column {
    display: table-cell;
	text-align:left;
    vertical-align: middle;
    margin-left: 10px;
} 

.Building.View .Page.One .Column.Left { 
	width : auto;
}

.Building.View .Page.One .Column.Right { 
	width : 100px;
}

.Building.View .Page.One .Label,
.Building.View .Page.One .Value {
	display:inline-block;
	margin-left: 5px;
}

.Building.View .Page.One .Button.Edit {
    background-color: #92D36E;
} 

.Building.View .Page.Two * {
	box-sizing : border-box;
}

.Building.View .Page.Two .Container { 
	position: absolute;
    top: 70px;
    bottom: 50px;
    left: 10px;
    right: 5px;
    overflow-y: auto;
    padding-right: 5px;
}

.Building.View .Page.Two .Label,
.Building.View .Page.Two .Input,
.Building.View .Page.Two .Combo,
.Building.View .Page.Two .Row {
	width : 100%;
}

.Building.View .Page.Two .Row > * {
	width : 50%;
	display: inline-block;
} 

.Building.View .Page.Two .Gutter > * {
	width : 100%;
}

.Building.View .Page.Two .Gutter > * {
	width : 100%;
}

.Building.View .Row .Gutter:not(:first-child) {
	padding-left : 3px;
}

.Building.View .Row .Gutter:not(:last-child) {
	padding-right : 3px;
}

.Building.View .Page.Two .Label {
	margin-top : 8px;
	margin-bottom : 2px;
}

.Building.View .Page.Two .Input,
.Building.View .Page.Two .Combo,
.Building.View .Page.Two .Row {
	margin-top : 2px;
	margin-bottom : 2px;
}

.Building.View .Page.Two .Footer > *{ 
	margin-top : 8px;
	margin-bottom : 8px;
}

.Building.View .Page.Two .Footer {
	width : 100%;
	text-align:center;
	margin-top : 20px;
}

.Building.View .Page.Two .Button.Save {
	background-color : #92D36E;
	width	: 100%;
}

.Building.View .Page.Two .Button.Delete {
	background-color : #A8504E;
}

.Save .Container { 
    top: 200px;
    left: 10px;
    right: 10px;
    height: 190px;
	max-width: 300px;
}

.Save.Disabled .Icon {
	background: url(../assets/loading.gif) center;
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
	margin-left: 10px;
}

.Building.View .Page.Two .Button.Save.Disabled {
	background-color:#559632;
	box-shadow : none;
	cursor : not-allowed;
}

/* Animations */
.step1.wipeInV {
    -webkit-animation: step1WipeInV 0.25s forwards;
    animation: step1WipeInV 0.25s forwards;
}

@-webkit-keyframes step1WipeInV {
    0% { height:0%; z-index:300; } 
	100% { height:130px; z-index:300; }
}

@keyframes step1WipeInV {
    0% { height:0%; z-index:300; } 
	100% { height:130px; z-index:300; }
}

.step2.wipeInV {
    -webkit-animation: step2WipeInV 0.25s forwards;
    animation: step2WipeInV 0.25s forwards;
}

@-webkit-keyframes step2WipeInV {
    0% { height:130px; z-index:300; } 
	100% { height:100%; z-index:300; }
}

@keyframes step2WipeInV {
    0% { height:130px; z-index:300; } 
	100% { height:100%; z-index:300; }
}

.step1.wipeOutV {
    -webkit-animation: step1WipeOutV 0.25s forwards;
    animation: step1WipeOutV 0.25s forwards;
}

@-webkit-keyframes step1WipeOutV {
    0% { height:100%; z-index:300; } 
	100% { height:130px; z-index:300; }
}

@keyframes step1WipeOutV {
    0% { height:100%; z-index:300; } 
	100% { height:130px; z-index:300; }
}

.step0.wipeOutV {
    -webkit-animation: step0WipeOutV 0.25s forwards;
    animation: step0WipeOutV 0.25s forwards;
}

@-webkit-keyframes step0WipeOutV {
    0% { height:130px; z-index:300; } 
	100% { height:0%; z-index:300; }
}

@keyframes step0WipeOutV {
    0% { height:130px; z-index:300; } 
	100% { height:0%; z-index:300; }
}
