
.Login .Container {
    top: 0px;
    bottom: 40px;
    left: 0px;
    right: 0px;
    z-index: 500;
	
    max-height: 330px;
    max-width: 240px;
	
	position: absolute;
    background-color: rgba(99, 30, 28, 0.8);
    border-radius: 6px;
    border: solid rgba(255, 255, 255, 0.9) 1.5px;
    margin: auto auto auto auto;
	
}

.fr .Login .Container {
    max-height: 375px;
}

.Login .Container .Language,
.Login .Container .Tutorial {
    background-color: rgba(99, 30, 28, 0.8);
    border-radius	: 6px;
    border			: solid rgba(255, 255, 255, 0.9) 1.5px;
}
	
.Login .Container .Inner {
	text-align : center;
}

.Login .Container .Inner .Message {
    padding: 10px;
}


.Login .Container .Inner .Link {
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    color: #92e8ec;
    border-bottom: solid 1.5px #92e8ec;
}

.Login.View .Footer {
    padding-top : 5px;
}

.Login .Container .Message.Top,
.Login .Container .Buttons > * {
    font-weight: bold;
}

.Login .Container .UserInfo {
	border-bottom: solid rgba(255, 255, 255, 0.9) 1.5px;
	border-top: solid rgba(255, 255, 255, 0.9) 1.5px;
}


.Login .Container .Message.Top {
    font-weight: bold;
    padding: 18px 6px 18px 6px;
}

.Login .Container .Buttons {
	position:relative;
	display:block;
}
	
.Login .Container .Buttons > * {
    margin: 25px 5px 25px 5px;
    background-color: white;
    color: #A8504E;
}

.Login .Container .Buttons .Button:disabled {
    background-color: rgb(65, 4, 4);
    cursor			: not-allowed;
    color			: #ffeded;
    box-shadow		: none;
}

.Login .Container .Language,
.Login .Container .Tutorial {
	height	: 35px;
	width : 100%;
    padding: 0px;
}

.Login .Container .Language {
    position: absolute;
	right : 0px;
}
 
.Login .Container .Tutorial{
    position: relative;
	left  : 0px;
}

.Login .Container .Tutorial,
.Login .Container .Language {
    /*cursor: not-allowed;*/
}

.Login .Container .UserInfo {
	padding : 15px 15px 15px 15px;
}

.Login .Container .UserInfo .Label {
	display: inline-block;
    vertical-align: middle;
    padding-left: 26px;
	
	background-image: url(../assets/user.png);
    background-repeat: no-repeat;
}

.Login .Beta {
    font-weight: normal;
    font-style: italic;
    font-size: 11px;
    text-align: right;
    margin-right: 8px;
    margin-bottom: 3px;
}
