.POI.View {
    bottom	: 0px;
    left	: 0px;
    right	: 0px;
	
	height  : 130px;

	padding-left : 10px;
	padding-right : 10px;
}

.POI.View .Page.One {
	text-align 	: left;
    width		: 100%;
	display 	: table;
}

.POI.View .Page.One.NoData {
	text-align: center;
    position: relative;
    top: 10px;
}

.POI.View .Title {
	text-align : center;
	margin: 20px 10px 30px 10px;
}

.POI.View .Page.One .Column {
    display: table-cell;
	text-align:left;
    vertical-align: middle;
    margin-left: 10px;
} 

.POI.View .Page.One .Column.Left { 
	width : auto;
}

.POI.View .Page.One .Column.Right { 
	width : 100px;
}

.POI.View .Page.One .Label,
.POI.View .Page.One .Value {
	display:inline-block;
	margin-left: 5px;
}

.POI.View .Page.One .Button.Edit {
    background-color: #92D36E;
} 
