.Settings.View {
    bottom	: 0px;
    left	: 0px;
    right	: 0px;
    text-align: center;
}

.Settings.View .Title {
    margin: 20px 10px 20px 10px;
}

.Settings.View .Button.Logout {
    position: relative;
    display: inline-block;
    background: #A8504E;
    border: solid thin #ffffff;
    border-radius: 4px;
    height: 28px;
    width: 80px;
	margin-bottom:20px;
	margin-top:20px;
}

.Settings.View .Link {
    display: block;
    width: 100%;
    text-align: left;
    margin: 18px 8px 18px 8px;
    color: white;
	cursor:pointer
}

.Settings.View .Link.disabled {
	cursor: not-allowed;
}

.Terms .Container,
.About .Container { 
    min-height: 250px;
    bottom: 10px;
    top: 10px;
    left: 10px;
    right: 10px;
}

.Unavailable .Container { 
    top: 200px;
    left: 10px;
    right: 10px;
    height: 170px;
	max-width: 300px;
}

.Terms .Container {
	max-width: 500px;
    max-height: 570px;
}

.About .Container {
    max-width: 900px;
    max-height: 815px;
}