.Settings.View {
    bottom	: 0px;
    left	: 0px;
    right	: 0px;
    text-align: center;
}

.Settings.View .Title {
    margin: 20px 10px 20px 10px;
}

.Settings.View .Button.Logout {
    position: relative;
    display: inline-block;
    background: #A8504E;
    border: solid thin #ffffff;
    border-radius: 4px;
    height: 28px;
    width: 80px;
	margin-bottom:20px;
	margin-top:20px;
}

.Settings.View .Link {
    display: block;
    width: 100%;
    text-align: left;
    margin: 18px 8px 18px 8px;
    color: white;
	cursor:pointer
}

.Settings.View .Link.disabled {
	cursor: not-allowed;
}

.License .Container,
.Tutorial .Container,
.Terms .Container,
.About .Container { 
    min-height: 250px;
    bottom: 10px;
    top: 10px;
    left: 0px;
    right: 0px;
    margin: auto auto auto auto;
	
	width	: 95%;
}

.Unavailable .Container { 
    top: 200px;
    left: 10px;
    right: 10px;
    height: 170px;
	max-width: 300px;
}

.License .Container {
    max-width: 680px;
    max-height: 665px;
}

.Tutorial .Container {
    max-width: 680px;
    max-height: 665px;
}

.Terms .Container {
	max-width: 500px;
    max-height: 650px;
}

.About .Container {
    max-width: 900px;
    max-height: 815px;
}

.Tutorial .Image {
	width : 45%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.Tutorial.Popup .Body {
    overflow-x: hidden;
}

.Tutorial.Popup .Body .Row {
	margin-top : 20px;
    text-align : center;
}

.Tutorial.Popup .Body .Row > * {
    vertical-align: middle;
	display: inline-block;
}

.Tutorial .Image {

}

.Tutorial .Image.One {
	background-image: url(../assets/tutorial/m1.jpg);
}

.Tutorial .Image.Two {
	background-image: url(../assets/tutorial/m2.jpg);
}

.Tutorial .Image.Three {
	background-image: url(../assets/tutorial/m3.jpg);
}

.Tutorial .Image.Four {
	background-image: url(../assets/tutorial/m4.jpg);
}

.Tutorial.Popup .Body .Note {
	width : 50%;
	text-align: justify;
}

.Tutorial.Popup .Body .Note.Full {
	width : 100%;
}

.Tutorial.Popup .Body .Note.Left {
	margin-right : 15px;
}

.Tutorial.Popup .Body .Note.Right {
	margin-left : 15px;
}