.ArrowContainer {
    position: relative;
    top		: 8px;
	width	: 100%;
	text-align : center;
}

.ArrowContainer .Arrow.Down {
    border		: none;
    background 	: url(../assets/arrowDown.png) no-repeat;
	background-size: 100%;
    width	: 30px;
    height	: 16px;
}

.Modal.View,
.Modal.Popup {
	position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.Modal.View,
.Popup {
	z-index:5000;
	background-color : rgba(20,30,40,0.65);
}

.Popup .Container {
    position: absolute;
	text-align:justify;
    background-color: rgba(99, 30, 28, 0.8);
    border-radius: 6px;
    border: solid rgba(255, 255, 255, 0.9) 1.5px;
    margin: auto auto auto auto;
}

.Popup .Body {    
	position:absolute;
	top: 60px;
    bottom: 60px;
    overflow-y: auto;
}

.Popup .Footer {
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
}

.Popup .Footer,
.Popup .Header {
    height:60px;
}

.Popup .Body,
.Popup .Footer { 
    border-top: solid thin silver;
}

.Popup.View h3 {
	font-size : x-large;
}

.Popup.View h4 {
	font-size : large;
}

.Popup .Header .Title,
.Popup .Body > *,
.Popup .Footer > * {
	margin: 15px 15px 15px 15px;
}

.Popup .Header > *{
	display : inline-block;
    vertical-align: middle;
}

.Popup .Header .Button.Close,
.Popup .Footer .Button.Close {
    float: right;
    margin-right: 10px;
}

.Popup .Header .Button.Close {
	background: url(../assets/cross.png) no-repeat;
	border: none;
	box-shadow : none;
	position: absolute;
    right: 10px;
    top: 20px;
    bottom: 10px;
    width: 20px;
    height: 20px;
}

.Popup .Footer .Button.Close {
    color: #A8504E;
    background-color: white;
}

.Popup a {
	color : #fff28a;
}

.Popup a:visited {
	color : #ffdcd3
}

.Popup p {
    font-size: small;
    font-weight: normal;
}